{% extends "base.html" %}
{% load i18n %}

{% block content %}
This is a basic Django project with some apps included. A discovered pinax some time ago and his basic projects but i don't like because it isn't simple for a new (noob like me) django developer.

This project include the following apps:
<br /><br />
<ul>
	<li>django-registration (for user registration)</li>
	<li>django-bootstrap-toolkit (for bootstrap forms)</li>
	<li>django-debug-toolbar (for local debug)</li>
</ul>
{% endblock %}
